@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
}


html{
    font-size: 10px;
}

:root{
    --primary-accent:#5221E6;
    --primary-text:#16161a;
    --primary-background:#ffffff;
}

body{
    padding: 2rem;
    font-family: Poppins,sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    background-color: var(--primary-background);
    
}

body.active{
    --primary-text:#ffffff;
    --primary-background:#16161a;
}


li{
    list-style: none;
}

a{
    text-decoration: none;
}

.buttons{
    margin: 3.5rem 0;
    display: flex;
}


button{
    padding:0.8rem 0;
    width: 100%;
    max-width: 15rem;
    font-size: 1.4rem;
    font-weight: 600;
    cursor: pointer;
    font-family: inherit;
    border-radius: 5px;
}

.cta-1{
    background-color: var(--primary-accent);
    color: #ffffff;
    border: none;
    margin-right: 1.5rem;
}

.cta-2{
    border: 2px solid var(--primary-accent);
    color: var(--primary-text);
    background: none;
    margin-left: 1.5rem;
}


.logo{
    font-size: 2rem;
    font-family: Poppins,sans-serif;
    font-weight: 500;
    color: var(--primary-text);
}

.logo span{
    font-weight: 700;
    color: var(--primary-accent);
}

.hamburger span{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: var(--primary-text);
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar{
    display: flex;
    align-items: center;
}

.theme{
    font-size: 1.8rem;
    margin: 0 2.1rem;
    cursor: pointer;
    color: var(--primary-text);
}

.hamburger{
    cursor: pointer;
}


.menu{
    display: none;
}

.hero{
    margin: 5rem 2%;
}

.hero p{
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--primary-text);
}

.hero span{
    color: var(--primary-accent);
    font-weight: 700;
}


/* Media Queries tablet */

@media only screen and (min-width: 675px) {


    .menu{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo{
        font-size: 2.8rem;
    }

    .nav-item{
        margin-left:4rem;
    }

    .nav-link{
        font-size: 1.6rem;
        font-family: Poppins,sans-serif;
        font-weight: 600;
        color: var(--primary-text);
    }

    .hamburger{
        display: none;
    }

    .buttons{
        display: none;
    }

    #toggle-btn{
        margin: 0;
        padding: 0;
    }

}

/* Media Queries above tablet */

@media only screen and (min-width: 1000px) {

}